# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives

. Learnt about languages such as python,R

. Learnt about tools such as jupyter notebook and visual studio

. Learnt about libraries such as pandas,numpy

Some of the popular languages that Data Scientists use are:

1.Python

2.R

3.Java

4.SQL

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Matplotlib

In [2]:
from tabulate import tabulate

# Define the data for the table
table_data = [
    ["Data Science Tools"],  # Header row
    ["Jupyter Notebook"],    # First tool
    ["Visual Studio Code"],  # Second tool
    ["PyCharm"]              # Third tool
]

# Display the table
table = tabulate(table_data, headers="firstrow", tablefmt="pipe")
print(table)

| Data Science Tools   |
|:---------------------|
| Jupyter Notebook     |
| Visual Studio Code   |
| PyCharm              |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#  This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [5]:
#  This will convert 200 minutes to hours by diving by 60.

minutes = 200
hours = minutes / 60

print(hours)

3.3333333333333335

# Author

SuhailChopra